[submodule "Network Routing"]
	path = Network Routing
	url = https://github.com/SM2A/Network_Routing
[submodule "TCP Router"]
	path = TCP Router
	url = https://github.com/SM2A/TCP_Router
[submodule "FTP Server-Client"]
	path = FTP Server-Client
	url = https://github.com/SM2A/FTP_Server_Client
[submodule "Network Simulation"]
	path = Network Simulation
	url = https://github.com/SM2A/Network_Simulation
[submodule "CA1"]
	path = CA1
	url = https://github.com/SM2A/CN_CA1
